.button {
    border: none;
    padding: 10px 20px;
    background-color: var(--primary-color-200);
    color: var(--background-color);
    border-radius: 8px;
    transition: background-color .3s ease;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-color-100);
    }

    &--secondary {
        background-color: var(--secondary-color-200);

        &:hover {
            background-color: var(--secondary-color-100);
        }
    }

    &--tertiary {
        background-color: (--tertiary-color-200);
    }
}
