@use '../util' as u;

.button {
    border: none;
    padding: u.em(10) u.em(20);
    background-color: var(--primary-color-200);
    color: var(--background-color);
    border-radius: u.em(8);
    transition: all .2s ease;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-color-100);
    }

    &--secondary {
        background-color: var(--secondary-color-200);

        &:hover {
            background-color: var(--secondary-color-100);
        }
    }

    &--tertiary {
        background-color: var(--tertiary-color-200);

        &:hover {
            background-color: var(--tertiary-color-200);
            outline: 2px solid var(--primary-color-200);
        }
    }

    &--icon {
        padding: u.em(10) u.em(10);
    }

    & img {
        display: block;
        width: u.em(20);
        height: u.em(20);
        padding: 0;
        margin: 0;
    }
}
