@use '../util/' as u;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    font-family: u.$font;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
