:root {
    --background-color: #302C3C;
    --card-color: #514B64;
    --primary-color-100: #3FFFDC;
    --primary-color-200: #36E1C3;
    --primary-color-300: #2DBFA5;
    --secondary-color-100: #ED82FF;
    --secondary-color-200: #D170E1;
    --tertiary-color-100: rgba(242, 238, 255, .8);
    --tertiary-color-200: #F2EEFF;
    --text-heading-color: #E1D7FF;
    --text-subheading-color: #CBC2E3;
    --text-color: #CECBD6;
    --text-secondary-color: #857D9E;
}
